In [5]:
import pandas as pd
import numpy as np

In [6]:
data=pd.read_csv('dataset w7.csv')

# 1. Carry out descriptive analytics on the dataset.

In [7]:
data.describe()

       Total Marks
count    28.000000
mean     32.321429
std      12.454520
min      12.000000
25%      22.500000
50%      33.000000
75%      43.250000
max      50.000000

# 2. Check whether female and male students scored the same marks.

In [8]:
data_male=data.loc[data['Gender']=='male']
data_female=data.loc[data['Gender']=='female']

In [ ]:
# Null hypothesis : Marks scored by male and female students are not same.
# Alternative hypothesis:Marks scored by male and female students are same.
# level of significance=5%=0.05

In [9]:
#degrees of freedom:
df = (len(data_male)-1)+(len(data_female)-1)
df

26

In [10]:
# T critical value
t_critic = stats.t.ppf(q=1-0.05/2, df=df)
t_critic

2.055529438642871

In [11]:
# test statistics
ttest,pval = stats.ttest_ind(data_male['Total Marks'], data_female['Total Marks'])
ttest,pval

(-0.6940885268848668, 0.4937822317960763)

In [12]:
if (abs(ttest)>t_critic)&(pval<0.05):
    print('We are rejecting null hypothesis')
else:
    print('we are accepting null hypothesis')

we are accepting null hypothesis

In [ ]:
Inference: This shows that the marks scored by male and female students are NOT same

# 3. Whether test preparation helps the students?

In [13]:
data_tp=data.loc[data['Test preparation']=='completed']
data_ntp=data.loc[data['Test preparation']=='none']

In [14]:
#Null hypothesis: Test preparation does not help students
#Alternative hypothesis: Test preparation help students
# degree of freedom
df=(len(data_tp)-1)+(len(data_ntp)-1)
df

26

In [15]:
# T critical value
t_critical = stats.t.ppf(q=1-0.05/2,df=df)
t_critical

2.055529438642871

In [16]:
# test statistics
ttest1,p_value1= stats.ttest_ind(data_tp['Total Marks'],data_ntp['Total Marks'])
ttest1,p_value1

(3.6143637527769217, 0.0012671292457320106)

In [17]:
if (abs(ttest1)>t_critical)&(p_value1<0.05):
    print('Rejecting the null hypothesis')
else:
    print('Accepting the null hypothesis')

Rejecting the null hypothesis

In [ ]:
Inference : Test preparation helps students.